[Desktop Entry]
Name=System Settings
Icon=system-settings
Exec=system-settings
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
Keywords=Preferences;Settings;
X-Ubuntu-Gettext-Domain=ubuntu-system-settings
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
