[Desktop Entry]
Name=System Settings
Name[aa]=Siirâ Massoosu
Name[am]=ስርአት ማሰናጃ
Name[ar]=إعدادات النظام
Name[ast]=Axustes del sistema
Name[az]=Sistem Tənzimləmələri
Name[be]=Сістэмныя налады
Name[bg]=Системни настройки
Name[br]=Arventennoù ar reizhiad
Name[bs]=Sistematske postavke
Name[ca]=Configuració del sistema
Name[ca@valencia]=Configuració del sistema
Name[cs]=Systémová nastavení
Name[cy]=Gosodiadau System
Name[da]=Systemindstillinger
Name[de]=Systemeinstellungen
Name[el]=Ρυθμίσεις συστήματος
Name[en_AU]=System Settings
Name[en_GB]=System Settings
Name[eo]=Sistemoagordoj
Name[es]=Configuración del sistema
Name[eu]=Sistemaren ezarpenak
Name[fa]=تنظیمات سامانه
Name[fi]=Järjestelmän asetukset
Name[fr]=Paramètres système
Name[ga]=Socruithe an Chórais
Name[gd]=Roghainnean an t-siostaim
Name[gl]=Axustes do sistema
Name[gu]=સિસ્ટમ સેટિંગ્સ
Name[he]=הגדרות מערכת
Name[hi]=सिस्टम सेटिंग्स
Name[hr]=Postavke sustava
Name[hu]=Rendszerbeállítások
Name[ia]=Preparationes del systema
Name[id]=Pengaturan Sistem
Name[is]=Kerfisstillingar
Name[it]=Impostazioni
Name[ja]=システム設定
Name[km]=ការ​កំណត់​ប្រព័ន្ធ
Name[ko]=시스템 설정
Name[lt]=Sistemos nustatymai
Name[lv]=Sistēmas iestatījumi
Name[ms]=Tetapan Sistem
Name[nb]=Systeminnstillinger
Name[nl]=Systeeminstellingen
Name[oc]=Paramètres del sistèma
Name[pa]=ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pl]=Ustawienia systemowe
Name[pt]=Definições
Name[pt_BR]=Configurações
Name[ro]=Configurări de sistem
Name[ru]=Настройки системы
Name[sl]=Sistemske nastavitve
Name[sq]=Parametrat e Sistemit
Name[sr]=Подешавања система
Name[sv]=Systeminställningar
Name[ta]=கணினி அமைப்புகள்
Name[tr]=Sistem Ayarları
Name[ug]=سىستېما تەڭشەكلىرى
Name[uk]=Системні параметри
Name[zh_CN]=系统设置
Name[zh_HK]=系統設定
Name[zh_TW]=系統設定
Categories=System;
Categories[aa]=Siira;
Categories[am]=ስርአት:
Categories[ast]=Sistema;
Categories[be]=Сістэма;
Categories[br]=Reizhiad;
Categories[bs]=Sistem
Categories[ca]=Sistema;
Categories[ca@valencia]=Sistema;
Categories[cs]=Systém
Categories[cy]=System;
Categories[da]=System;
Categories[de]=System;
Categories[el]=Σύστημα;
Categories[en_AU]=System;
Categories[en_GB]=System;
Categories[eo]=Sistemo
Categories[es]=Sistema;
Categories[eu]=Sistema;
Categories[fa]=System;
Categories[fi]=System;Järjestelmä;
Categories[fr]=Système;
Categories[ga]=Córas;
Categories[gd]=System;Siostam;
Categories[gl]=Sistema;
Categories[he]=מערכת;
Categories[hr]=Sustav;
Categories[hu]=Rendszer;
Categories[ia]=Systema;
Categories[id]=Sistem;
Categories[is]=Kerfi;
Categories[it]=Sistema;
Categories[ja]=System:システム;
Categories[ko]=System;시스템;
Categories[lv]=Sistēma;
Categories[ms]=Sistem;
Categories[nb]=System;
Categories[nl]=System;Systeem;
Categories[oc]=Sistèma ;
Categories[pa]=ਸਿਸਟਮ;
Categories[pl]=System;
Categories[pt]=Sistema;
Categories[pt_BR]=Sistema;
Categories[ro]=Sistem;
Categories[ru]=Система;
Categories[sl]=Sistem;
Categories[sq]=Sistemi;
Categories[sr]=Систем;
Categories[sv]=System;
Categories[tr]=Sistem;
Categories[ug]=سىستېما;
Categories[uk]=Система:
Categories[zh_CN]=系统;
Categories[zh_TW]=System;系統;
Keywords=Preferences;Settings;
Keywords[aa]=Lafootu; Massoosu
Keywords[am]=ምርጫዎች: ማሰናጃዎች:
Keywords[ast]=Preferencies;Axustes;
Keywords[be]=Перавагі; Налады;
Keywords[br]=Penndibaboù;Arventennoù;
Keywords[bs]=Postavke;Podešavanja;
Keywords[ca]=Preferències;Paràmetres;
Keywords[ca@valencia]=Preferències;Paràmetres;
Keywords[cs]=Předvolby;Nastavení;
Keywords[cy]=Dewisiadau;Gosodiadau;
Keywords[da]=Indstillinger;Opsætning;
Keywords[de]=Einstellungen;
Keywords[el]=Προτιμήσεις;Ρυθμίσεις;
Keywords[en_AU]=Preferences;Settings;
Keywords[en_GB]=Preferences;Settings;
Keywords[eo]=Preferoj;Agordoj;
Keywords[es]=Preferencias;Configuración;Ajustes;
Keywords[eu]=Hobespenak;Ezarpenak;
Keywords[fa]=Preferences;Settings;
Keywords[fi]=Preferences;Settings;Ominaisuudet;Asetukset;Valinnat;
Keywords[fr]=Préférences;Paramètres;Réglages;
Keywords[ga]=Sainroghanna;Socruithe;
Keywords[gd]=Preferences;Settings;Roghainnean;
Keywords[gl]=Preferencias;Axustes;
Keywords[he]=העדפות;הגדרות;
Keywords[hr]=Osobitosti;Postavke;
Keywords[hu]=Tulajdonságok;Beállítások;
Keywords[ia]=Preferentias;preparationes;
Keywords[id]=Preferensi;Pengaturan;
Keywords[is]=Valkostir;Stillingar;
Keywords[it]=Preferenze;Impostazioni;
Keywords[ja]=Preferences;Settings;設定;
Keywords[ko]=Preferences;기본 설정;Settings;설정
Keywords[lv]=Iestatījumi;Uzstādījumi;Konfigurācija;
Keywords[ms]=Keutamaan;Tetapan;
Keywords[nb]=Brukervalg;Innstillinger;
Keywords[nl]=Preferences;Settings;Voorkeuren;Instellingen;
Keywords[oc]=Preferéncias;Paramètres;Reglatges;
Keywords[pa]=ਮੇਰੀ ਪਸੰਦ;ਸੈਟਿੰਗ;
Keywords[pl]=Preferencje;Ustawienia;
Keywords[pt]=Preferências;Definições;
Keywords[pt_BR]=Preferências;Configurações;
Keywords[ro]=Preferințe;Configurări;
Keywords[ru]=Настройки;Параметры;
Keywords[sl]=Možnosti;Nastavitve;
Keywords[sq]=Preferencat;Parametrat;
Keywords[sr]=Поставке;Подешавања;
Keywords[sv]=Inställningar;
Keywords[ta]=விருப்பங்கள்;அமைப்புகள்
Keywords[tr]=Tercihler;Ayarlar;
Keywords[ug]=Preferences;Settings;مايىللىق;تەڭشەكلەر;
Keywords[uk]=Налаштування;Параметри;
Keywords[zh_CN]=首选项；设置；
Keywords[zh_TW]=Preferences;Settings;偏好設定;設定值;
Icon=/snap/ubuntu-system-settings-dev/current/usr/share/ubuntu/settings/system/system-settings.png
Exec=system-settings %u
Terminal=false
Type=Application
StartupNotify=true
X-Screenshot=/snap/ubuntu-system-settings-dev/current/usr/share/ubuntu/settings/system/screenshot.png
X-Ubuntu-Gettext-Domain=ubuntu-system-settings
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true
