Source: ubuntu-system-settings
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: dbus-test-runner,
               debhelper (>= 9),
               dh-migrations,
               python:any (>= 2.7),
               python-setuptools,
               gdb:any,
               libaccountsservice-dev,
               libandroid-properties-dev [amd64 armhf i386],
               libglib2.0-dev (>= 2.37.92),
               libicu-dev,
               libnm-glib-dev,
               libofono-qt-dev,
               libqmenumodel-dev,
               libtimezonemap1-dev (>= 0.4.1),
               libupower-glib-dev,
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               libapt-pkg-dev,
               libubuntuoneauth-2.0-dev,
               libubuntu-download-manager-client-dev,
               libubuntu-download-manager-common-dev,
               xvfb,
               cmake,
               pep8,
               pyflakes,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/ubuntu-system-settings
# If you aren't a member of ~system-settings-touch but need to upload packaging
# changes, just go ahead.  ~system-settings-touch will notice and sync up the
# code again.
Vcs-Bzr: https://code.launchpad.net/~system-settings-touch/ubuntu-system-settings/trunk

Package: ubuntu-system-settings
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         accountsservice,
         accountsservice-ubuntu-touch-schemas,
         bluez (>= 4.36),
         gsettings-desktop-schemas,
         gsettings-ubuntu-touch-schemas (>= 0.0.1+14.04.20140130.1),
         indicator-bluetooth (>> 0.0.6+13.10.20131010),
         indicator-network (>= 0.5.0+13.10.20130918),
         powerd (>= 0.15) | gnome-settings-daemon,
         qmenumodel-qml,
         qtdeclarative5-folderlistmodel-plugin,
         qml-module-qtmultimedia | qml-module-qtmultimedia-gles,
         qtdeclarative5-gsettings1.0 (>=0.0+13.10.20130717),
         qtdeclarative5-systeminfo-plugin,
         qtdeclarative5-ubuntu-content0.1,
         qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 0.1.46+14.04.20131126-0ubuntu1) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles,
         whoopsie-preferences (>= 0.9),
         libsystemsettings1 (= ${binary:Version}),
         system-image-dbus (>= 0.9),
         click,
         ubuntu-keyboard-data (>= 0.99.trunk.phablet2+13.10.20131001),
         urfkill,
# for the session-migration script
         python3,
         python3-gi,
         python3-dbus,
         gir1.2-glib-2.0
Recommends: suru-icon-theme,
            ubuntu-system-settings-online-accounts,
            ubuntu-touch-sounds,
Conflicts: ubuntu-system-settings-example
Description: System Settings application for Ubuntu Touch
 This package contains the System Settings application used on the 
 Ubuntu Touch images, it's designed for phones, tablets and convergent 
 devices.

Package: libsystemsettings1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Description: System Settings Library for Ubuntu Touch
 This package contains the System Settings application used on the 
 Ubuntu Touch images, it's designed for phones, tablets and convergent 
 devices.

Package: libsystemsettings-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsystemsettings1 (= ${binary:Version}),
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Description: System Settings for Ubuntu Touch - development files
 This package contains the System Settings application used on the 
 Ubuntu Touch images, it's designed for phones, tablets and convergent 
 devices.

Package: ubuntu-system-settings-autopilot
Architecture: all
Depends: ubuntu-system-settings,
         python-autopilot,
         python-dbusmock (>= 0.10.1),
         libautopilot-qt,
         ubuntu-ui-toolkit-autopilot,
         dpkg-dev,
         ${misc:Depends},
         ${python:Depends},
Description: System Settings for Ubuntu Touch - Autopilot tests
 This package contains the System Settings application used on the 
 Ubuntu Touch images, it's designed for phones, tablets and convergent 
 devices.


