Source: ubuntu-system-settings
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: dbus-test-runner,
               debhelper (>= 9),
               dh-migrations,
               dh-python,
               python3-setuptools,
               python3-all:any,
               gdb:any,
               libaccountsservice-dev,
               libandroid-properties-dev [amd64 armhf i386],
               libglib2.0-dev (>= 2.37.92),
               libicu-dev,
               libnm-glib-dev,
               libpolkit-agent-1-dev,
               libqmenumodel-dev,
               libtimezonemap1-dev (>= 0.4.1),
               libtrust-store-dev,
               libunity-api-dev,
               libupower-glib-dev,
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               libapt-pkg-dev,
# test-deps
               qtdeclarative5-qtquick2-plugin,
               libubuntuoneauth-2.0-dev,
               libubuntu-download-manager-client-dev,
               libubuntu-download-manager-common-dev,
               libqtdbusmock1-dev (>= 0.2+14.04.20140724),
               libqtdbustest1-dev,
               xvfb,
               cmake,
               pep8,
               python3-pep8,
               pyflakes,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/ubuntu-system-settings
# If you aren't a member of ~system-settings-touch but need to upload packaging
# changes, just go ahead.  ~system-settings-touch will notice and sync up the
# code again.
Vcs-Bzr: https://code.launchpad.net/~system-settings-touch/ubuntu-system-settings/trunk
X-Python3-Version: >= 3.2
X-Ubuntu-Use-Langpack: yes

Package: ubuntu-system-settings
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         accountsservice,
         accountsservice-ubuntu-schemas (>= 0.0.2),
         bluez (>= 4.36),
         dbus-property-service [amd64 armhf i386],
         gsettings-desktop-schemas,
         gsettings-ubuntu-schemas (>= 0.0.2+14.10.20140815),
         indicator-bluetooth (>> 0.0.6+13.10.20131010),
         indicator-network (>= 0.5.0+13.10.20130918),
         powerd (>= 0.15) | gnome-settings-daemon,
         qmenumodel-qml,
         qtdeclarative5-folderlistmodel-plugin,
         qml-module-qtmultimedia | qml-module-qtmultimedia-gles,
         qtdeclarative5-gsettings1.0 (>=0.1+14.10.20140801.1),
         qtdeclarative5-ofono0.2 (>=0.53),
         qtdeclarative5-systeminfo-plugin,
         qtdeclarative5-ubuntu-content1,
         qtdeclarative5-ubuntu-settings-components (> 0.2),
         qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 0.1.46+14.10.20140502.6-0ubuntu1) | qtdeclarative5-ubuntu-ui-toolkit-plugin-gles,
         suru-icon-theme,
         whoopsie-preferences (>= 0.9),
         libsystemsettings1 (= ${binary:Version}),
         system-image-dbus (>= 0.9),
         click,
         ubuntu-keyboard-data (>= 0.99.trunk.phablet2+13.10.20131001),
         urfkill,
# for the session-migration script (python3 itself also for the push helper)
         python3,
         python3-gi,
         python3-dbus,
         gir1.2-glib-2.0
Recommends: suru-icon-theme,
            ubuntu-system-settings-online-accounts,
            ubuntu-touch-sounds,
Conflicts: ubuntu-system-settings-example
# ubuntu-push-client shipped the system settings push helper until 0.60:
Breaks: ubuntu-push-client (<<0.61),
Replaces: ubuntu-push-client (<<0.61),
Description: System Settings application for Ubuntu Touch
 This package contains the System Settings application used on the
 Ubuntu Touch images, it's designed for phones, tablets and convergent
 devices.

Package: ubuntu-system-settings-wizard
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ubuntu-system-settings (= ${binary:Version}),
         unity8,
Recommends: qtdeclarative5-qtmir-plugin (>= 0.4)
Conflicts: ubuntu-system-settings (<< 0.3)
Breaks: ubuntu-system-settings (<< 0.3)
Description: Welcome Wizard for Ubuntu Touch
 This package contains the Welcome Wizard used on the Ubuntu Touch images,
 it's designed for phones, tablets and convergent devices.

Package: libsystemsettings1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Description: System Settings Library for Ubuntu Touch
 This package contains the System Settings application used on the
 Ubuntu Touch images, it's designed for phones, tablets and convergent
 devices.

Package: libsystemsettings-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsystemsettings1 (= ${binary:Version}),
Pre-Depends: dpkg (>= 1.15.6~), ${misc:Pre-Depends}
Description: System Settings for Ubuntu Touch - development files
 This package contains the System Settings application used on the
 Ubuntu Touch images, it's designed for phones, tablets and convergent
 devices.

Package: ubuntu-system-settings-autopilot
Architecture: all
Depends: ubuntu-system-settings,
         python3-autopilot,
         python3-dbusmock (>= 0.10.1),
         python3-dateutil,
         libautopilot-qt,
         ubuntu-ui-toolkit-autopilot,
         dpkg-dev,
         ${misc:Depends},
         ${python3:Depends},
Description: System Settings for Ubuntu Touch - Autopilot tests
 This package contains the System Settings application used on the
 Ubuntu Touch images, it's designed for phones, tablets and convergent
 devices.
