Source: ubuntu-system-settings
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: dbus-test-runner,
               debhelper (>= 9),
               gdb,
               libaccountsservice-dev,
               libandroid-properties-dev,
               libglib2.0-dev,
               libtimezonemap1-dev (>= 0.4.0.1),
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               xvfb,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/ubuntu-system-settings
# If you aren't a member of ~system-settings-touch but need to upload packaging
# changes, just go ahead.  ~system-settings-touch will notice and sync up the
# code again.
Vcs-Bzr: https://code.launchpad.net/~system-settings-touch/ubuntu-system-settings/trunk

Package: ubuntu-system-settings
Architecture: i386 amd64 armhf
Depends: ${misc:Depends},
         ${shlibs:Depends},
         accountsservice,
         gsettings-desktop-schemas,
         gsettings-ubuntu-touch-schemas (>= 0.0.1+13.10.20130730),
         qtdeclarative5-qtmultimedia-plugin,
         qtdeclarative5-gsettings1.0 (>=0.0+13.10.20130717),
         qtdeclarative5-systeminfo-plugin,
         qtdeclarative5-ubuntu-ui-toolkit-plugin (>= 0.1.46+13.10.20130710),
         whoopsie-preferences (>= 0.9),
         libsystemsettings1 (= ${binary:Version}),
         system-image-dbus (>= 0.9),
Recommends: ubuntu-mobile-icons,
            ubuntu-system-settings-online-accounts,
Conflicts: ubuntu-system-settings-example
Description: System Settings application for Ubuntu Touch
 This package contains the System Settings application used on the 
 Ubuntu Touch images, it's designed for phones, tablets and convergent 
 devices.

Package: libsystemsettings1
Section: libs
Architecture: i386 amd64 armhf
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: System Settings Library for Ubuntu Touch
 This package contains the System Settings application used on the 
 Ubuntu Touch images, it's designed for phones, tablets and convergent 
 devices.

Package: libsystemsettings-dev
Section: libdevel
Architecture: i386 amd64 armhf
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libsystemsettings1 (= ${binary:Version}),
Description: System Settings for Ubuntu Touch - development files
 This package contains the System Settings application used on the 
 Ubuntu Touch images, it's designed for phones, tablets and convergent 
 devices.
