#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

include /usr/share/dpkg/buildflags.mk

override_dh_auto_configure:
	dh_auto_configure -- LIBDIR="/usr/lib/$(DEB_HOST_MULTIARCH)"

override_dh_install:
	cd tests/autopilot; \
	set -ex; for python in $(shell pyversions -r); do \
		$$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done; \
	cd $(CURDIR)
	dh_install -X'*.pyc' --fail-missing

%:
	dh $@ --fail-missing --with python2
