#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/architecture.mk

override_dh_install:
	cd tests/autopilot; \
	set -ex; for python in $(shell pyversions -r); do \
		$$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done; \
	cd $(CURDIR)
	dh_install -X'*.pyc' --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -Xusr/lib/$(DEB_HOST_MULTIARCH)/ubuntu-system-settings

%:
	dh $@ --fail-missing --with python2,migrations

override_dh_auto_test:
	python tests/test_code.py
